.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  background-color: #020c6d;
  color: #fff;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  line-height: 20px;
  background-color: #020c6d;
  color: #fff;
}